@model TasmSite.Models.Firmware

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Firmware</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

    </dl>
</div>

<h5>Devices</h5>
<table class="table">
    <tr>
        <th>
            Device
        </th>
        <th>
            Categories
        </th>
    </tr>

    @helper getCats(TasmSite.Models.DeviceGroup group) 
    {
        <td>
            @Html.DisplayFor(modelItem => group.Name)
        </td>
        if (group.ParentGroupId != null) 
        {
            @getCats(group.DeviceGroup2)
        }
    }

    @foreach (var item in Model.Devices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @getCats(item.DeviceGroup)
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
