@model TasmSite.Models.DeviceGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @if (Model.DeviceGroup2 != null)
        {
            <dt>
                Subgroup Of
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeviceGroup2.Name)
            </dd>
        }

    </dl>
</div>

<h5>Devices</h5>
<table class="table">
    <tr>
        <th>
            Device
        </th>
        <th>
            Type
        </th>
        <th>
            Firmware
        </th>
        <th>
            Version
        </th>
        <th>
            Last Update
        </th>
    </tr>

    @helper getDevices(TasmSite.Models.DeviceGroup group)
    {
        foreach (var item in group.Devices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceGroup.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firmware.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firmware.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firmware.ReleaseDate)
                </td>
            </tr>
        }
    }
    @getDevices(Model)
    @helper getSubs(TasmSite.Models.DeviceGroup group)
    {
        foreach (var subgroup in group.DeviceGroup1)
        {
            if (subgroup.Devices.Any())
            {
                @getDevices(subgroup)
            }
            if (subgroup.DeviceGroup1.Any())
            {
                @getSubs(subgroup)
            }
        }
    }
    @getSubs(Model)

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
